.btn1 button {
    font-size: 1.3em;
    font-weight: bold;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-top: 5px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;

    background: linear-gradient(to bottom, #333333, #1a1a1a); /* 기본 배경 그라데이션 */
    text-transform: uppercase;
    letter-spacing: 1px;
}

button:hover {
    background: linear-gradient(to bottom, #4d4d4d, #2c2c2c); /* 호버 시 배경 색상 */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
    transform: scale(1.05);

    /* transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    background: linear-gradient(to bottom, #FFA500, #FFD700); */
}

button:active {
    /* box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.6); */
    opacity: 0.8;

    transform: translateY(-1px);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2); /* 클릭 시 그림자 효과 */
}

.btn1 {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 15px;

    padding-top: 10px;
}

.btn1 button {
    width: 11vw;
}

.btn1 button:disabled {
    cursor: not-allowed;
    opacity: 0.5; /* 비활성화된 버튼의 불투명도를 낮춰 시각적으로 구분 */
    transform: none;
    background: #333333;
}

.btn1 button:disabled:hover {
    background-color: #333333;
    box-shadow: none;
}

.Btn {
    margin: 0;
    padding: 0;
}


/* 개별 버튼 그라데이션 */
.btn1 button:nth-child(1) {
    background: linear-gradient(to bottom, #1a1a1a, #000000); /* 첫 번째 버튼 배경 색상 */
    color: #ff0000; /* 텍스트 색상 */
}

.btn1 button:nth-child(2) {
    background: linear-gradient(to bottom, #666666, #333333); /* 두 번째 버튼 배경 색상 */
    color: #ffffff; /* 텍스트 색상 */
}

.btn1 button:nth-child(5) {
    background: linear-gradient(to bottom, #2c2c2c, #1a1a1a); /* 다섯 번째 버튼 배경 색상 */
    color: yellowgreen; /* 텍스트 색상 */
}